0) какой % данных по элис
1) посмотреть, какие сайты посещает элис из всех
2) время превратить в хар-ки: год, месяц, день, день недели, продолжительность времени
3) скормить модели
4) поиграть с обучающей выборкой, тк по элис мало

In [117]:
import warnings
import pandas as pd
import os
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

In [118]:
PATH_TO_DATA = ('input/')
df_train = pd.read_csv(os.path.join(PATH_TO_DATA, 'train_sessions.csv'), index_col = 'session_id')
df_test = pd.read_csv(os.path.join(PATH_TO_DATA, 'test_sessions.csv'), index_col = 'session_id')
df_train.head()

,site1,time1,site2,time2,site3,time3,site4,time4,site5,time5,...,time6,site7,time7,site8,time8,site9,time9,site10,time10,target
session_id,,,,,,,,,,,,,,,,,,,,,
1,718,2014-02-20 10:02:45,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
2,890,2014-02-22 11:19:50,941.0,2014-02-22 11:19:50,3847.0,2014-02-22 11:19:51,941.0,2014-02-22 11:19:51,942.0,2014-02-22 11:19:51,...,2014-02-22 11:19:51,3847.0,2014-02-22 11:19:52,3846.0,2014-02-22 11:19:52,1516.0,2014-02-22 11:20:15,1518.0,2014-02-22 11:20:16,0
3,14769,2013-12-16 16:40:17,39.0,2013-12-16 16:40:18,14768.0,2013-12-16 16:40:19,14769.0,2013-12-16 16:40:19,37.0,2013-12-16 16:40:19,...,2013-12-16 16:40:19,14768.0,2013-12-16 16:40:20,14768.0,2013-12-16 16:40:21,14768.0,2013-12-16 16:40:22,14768.0,2013-12-16 16:40:24,0
4,782,2014-03-28 10:52:12,782.0,2014-03-28 10:52:42,782.0,2014-03-28 10:53:12,782.0,2014-03-28 10:53:42,782.0,2014-03-28 10:54:12,...,2014-03-28 10:54:42,782.0,2014-03-28 10:55:12,782.0,2014-03-28 10:55:42,782.0,2014-03-28 10:56:12,782.0,2014-03-28 10:56:42,0
5,22,2014-02-28 10:53:05,177.0,2014-02-28 10:55:22,175.0,2014-02-28 10:55:22,178.0,2014-02-28 10:55:23,177.0,2014-02-28 10:55:23,...,2014-02-28 10:55:59,175.0,2014-02-28 10:55:59,177.0,2014-02-28 10:55:59,177.0,2014-02-28 10:57:06,178.0,2014-02-28 10:57:11,0

In [119]:
print(df_test.shape)
df_train.shape

(82797, 20)

(253561, 21)

0) какой % данных по элис

In [120]:
100*df_train[df_train['target'] == 1]['target'].count()/df_train[df_train['target'] == 0]['target'].count()

0.9141779164544065

1) посмотреть, какие сайты посещает элис из всех

In [121]:
df_train[df_train['target'] == 1]['site1'].value_counts().head()

80    142
77    141
76    130
29     98
21     80
Name: site1, dtype: int64

In [122]:
df_train[df_train['target'] == 0]['site1'].value_counts().head()

21     13794
23      9193
782     7769
29      5403
22      5378
Name: site1, dtype: int64

In [123]:
df_train[df_train['target'] == 1]['site8'].value_counts().head()

76.0    168
77.0    133
80.0    129
29.0     94
21.0     86
Name: site8, dtype: int64

In [124]:
df_train[df_train['target'] == 0]['site8'].value_counts().head()

21.0     11549
23.0      8334
782.0     7701
22.0      5506
29.0      5458
Name: site8, dtype: int64

2) время превратить в хар-ки: год, месяц, день, день недели, продолжительность времени

In [125]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 253561 entries, 1 to 253561
Data columns (total 21 columns):
site1     253561 non-null int64
time1     253561 non-null object
site2     250098 non-null float64
time2     250098 non-null object
site3     246919 non-null float64
time3     246919 non-null object
site4     244321 non-null float64
time4     244321 non-null object
site5     241829 non-null float64
time5     241829 non-null object
site6     239495 non-null float64
time6     239495 non-null object
site7     237297 non-null float64
time7     237297 non-null object
site8     235224 non-null float64
time8     235224 non-null object
site9     233084 non-null float64
time9     233084 non-null object
site10    231052 non-null float64
time10    231052 non-null object
target    253561 non-null int64
dtypes: float64(9), int64(2), object(10)
memory usage: 42.6+ MB

In [133]:
times = ['time%s' % i for i in range(1,11)]
df_train[times] = df_train[times].apply(pd.to_datetime)
df_test[times] = df_test[times].apply(pd.to_datetime)

In [134]:
sites = ['site%s' % i for i in range(1,11)]
df_train[sites] = df_train[sites].fillna(0).astype('int')
df_test[sites] = df_train[sites].fillna(0).astype('int')
df_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 253561 entries, 1 to 253561
Data columns (total 21 columns):
site1     253561 non-null int64
time1     253561 non-null datetime64[ns]
site2     253561 non-null int64
time2     250098 non-null datetime64[ns]
site3     253561 non-null int64
time3     246919 non-null datetime64[ns]
site4     253561 non-null int64
time4     244321 non-null datetime64[ns]
site5     253561 non-null int64
time5     241829 non-null datetime64[ns]
site6     253561 non-null int64
time6     239495 non-null datetime64[ns]
site7     253561 non-null int64
time7     237297 non-null datetime64[ns]
site8     253561 non-null int64
time8     235224 non-null datetime64[ns]
site9     253561 non-null int64
time9     233084 non-null datetime64[ns]
site10    253561 non-null int64
time10    231052 non-null datetime64[ns]
target    253561 non-null int64
dtypes: datetime64[ns](10), int64(11)
memory usage: 52.6 MB

In [127]:
print(df_train['time1'][2])
print(df_train['time1'][2].dayofweek)
print(df_train['time1'][2].year)
print(df_train['time1'][2].month)
print(df_train['time2'][2])

2014-02-22 11:19:50
5
2014
2
2014-02-22 11:19:50

In [128]:
print(df_train['time2'][5])
print(df_train['time1'][5])
(df_train['time2'][5] - df_train['time1'][5]).seconds

2014-02-28 10:55:22
2014-02-28 10:53:05

137

In [129]:
import math
print(df_train['time2'][1])
print(df_train['time1'][1])
print((df_train['time2'][1] - df_train['time1'][1]).seconds)
if(math.isnan((df_train['time2'][1] - df_train['time1'][1]).seconds)):
    print('kk')

NaT
2014-02-20 10:02:45
nan
kk

In [147]:
df_train['total_time'] = df_train['time1'].apply(lambda x: np.datetime64('0000-00-00 00:00:00') if (pd.isnull(x)) else np.datetime64(x)) + df_train['time2'].apply(lambda x: np.timedelta64(0, 's') if (pd.isnull(x)) else np.datetime64(x))
df_train.head()

TypeError: cannot add DatetimeIndex and Timestamp

создадим колонки year, month, week_day

In [98]:
df_train.insert(loc=0, column='year', value=df_train['time1'].apply(lambda x: x.year))
df_train.insert(loc=1, column='month', value=df_train['time1'].apply(lambda x: x.month))
df_train.insert(loc=2, column='week_day', value=df_train['time1'].apply(lambda x: x.dayofweek))
df_train.insert(loc=3, column='work_hours', value=df_train['time1'].apply(lambda x: 1 if (x.dayofweek in (0, 1, 2, 3, 4)) & ((x.hour>=8)&(x.hour<=17)&(x.hour!=12)) else 0))
df_train.tail()

,year,month,week_day,work_hours,site1,time1,site2,time2,site3,time3,...,time6,site7,time7,site8,time8,site9,time9,site10,time10,target
session_id,,,,,,,,,,,,,,,,,,,,,
253557,2013,11,0,1,3474,2013-11-25 10:26:54,3474.0,2013-11-25 10:26:58,141.0,2013-11-25 10:27:03,...,2013-11-25 10:27:16,2428.0,2013-11-25 10:27:28,2428.0,2013-11-25 10:27:40,2428.0,2013-11-25 10:27:52,148.0,2013-11-25 10:27:53,0
253558,2013,3,1,1,12727,2013-03-12 16:01:15,12727.0,2013-03-12 16:01:16,2215.0,2013-03-12 16:01:16,...,2013-03-12 16:01:17,25444.0,2013-03-12 16:01:18,2215.0,2013-03-12 16:01:18,23.0,2013-03-12 16:01:18,21.0,2013-03-12 16:01:18,0
253559,2013,9,3,1,2661,2013-09-12 14:05:03,15004.0,2013-09-12 14:05:10,5562.0,2013-09-12 14:05:10,...,NaT,NaN,NaT,NaN,NaT,NaN,NaT,NaN,NaT,0
253560,2013,12,3,1,812,2013-12-19 15:20:22,676.0,2013-12-19 15:20:22,814.0,2013-12-19 15:20:22,...,2013-12-19 15:20:23,814.0,2013-12-19 15:20:23,570.0,2013-12-19 15:20:23,22.0,2013-12-19 15:20:24,570.0,2013-12-19 15:20:24,0
253561,2014,4,4,1,34942,2014-04-25 09:56:52,1429.0,2014-04-25 09:56:53,34942.0,2014-04-25 09:56:53,...,2014-04-25 09:56:54,5779.0,2014-04-25 09:56:54,30.0,2014-04-25 09:56:55,35.0,2014-04-25 09:56:55,33.0,2014-04-25 09:56:55,0

время сидения на сайте - дельта время

создадим колонки с разностью времени

In [114]:
times = ['time%s' % s for s in range(1,10)]
timel = ['time%s' % l for l in range(2,11)]
print(times)
print(timel)

['time1', 'time2', 'time3', 'time4', 'time5', 'time6', 'time7', 'time8', 'time9']
['time2', 'time3', 'time4', 'time5', 'time6', 'time7', 'time8', 'time9', 'time10']

In [113]:
#df_train.insert(loc=8, column='delta_t2', value=(df_train['time2'] - df_train['time1']))
#df_train['delta_t2']=df_train['delta_t2'].apply(lambda x: 0 if (pd.isnull(x)) else x.seconds)
ks = [k for k in range(1,10)]
times = ['time%s' % s for s in range(1,10)]
timel = ['time%s' % l for l in range(2,11)]
df_train.insert(loc=ks, column=times, value=(df_train[timel] - df_train[times]))
df_train.head()

TypeError: unhashable type: 'list'

In [69]:
df_train['time2']=df_train['time2'].apply(lambda x: 0 if (pd.isnull(x)) else (np.datetime64(x) - np.datetime64(df_train['time1'])))
df_train['time2']

ValueError: Could not convert object to NumPy datetime

In [168]:
for i in range(1, 100):
    print(len(df_train.iloc[i, [0,2,4,6,8,10,12,14,16,18]]) - len(df_train.iloc[i, [0,2,4,6,8,10,12,14,16,18]].drop_duplicates()))

3
6
9
6
7
3
3
3
4
1
1
3
1
3
0
4
1
9
3
1
5
8
8
3
4
3
8
1
3
4
3
5
7
0
1
3
4
3
5
6
0
4
8
5
5
7
3
2
5
8
7
2
6
2
6
4
2
7
3
3
2
6
9
3
5
2
5
4
5
7
3
5
2
5
7
8
4
6
9
2
5
2
3
2
3
5
3
7
8
0
5
1
5
2
8
4
6
5
0

In [169]:
df_train.iloc[43, [0,2,4,6,8,10,12,14,16,18]].drop_duplicates()

site1    782
site2    780
Name: 44, dtype: object

In [170]:
df_train.iloc[43]

site1                         782
time1         2014-03-20 08:55:16
site2                         780
time2         2014-03-20 08:55:21
site3                         780
time3         2014-03-20 08:55:23
site4                         780
time4         2014-03-20 08:55:25
site5                         780
time5         2014-03-20 08:55:28
site6                         780
time6         2014-03-20 08:55:30
site7                         780
time7         2014-03-20 08:55:33
site8                         780
time8         2014-03-20 08:55:40
site9                         780
time9         2014-03-20 08:55:42
site10                        780
time10        2014-03-20 08:55:43
target                          0
total_time                   1562
Name: 44, dtype: object